In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bam,IR,2021-03-07 21:10:36,29.1060,58.3570,58.62,33,0,1.10
1,1,Buchanan,LR,2021-03-07 21:10:37,5.8808,-10.0467,78.80,94,20,6.93
2,2,Vaini,TO,2021-03-07 21:10:38,-21.2000,-175.2000,82.40,89,75,10.36
3,3,Megion,RU,2021-03-07 21:10:40,61.0296,76.1136,3.20,92,0,4.47
4,4,Jadu,LY,2021-03-07 21:10:41,31.9530,12.0261,60.69,41,1,16.46

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Buchanan,LR,2021-03-07 21:10:37,5.8808,-10.0467,78.80,94,20,6.93
2,2,Vaini,TO,2021-03-07 21:10:38,-21.2000,-175.2000,82.40,89,75,10.36
7,7,Cabo San Lucas,MX,2021-03-07 21:10:04,22.8909,-109.9124,79.00,25,20,12.66
8,8,Mar Del Plata,AR,2021-03-07 21:10:46,-38.0023,-57.5575,78.80,47,0,10.36
10,10,Kieta,PG,2021-03-07 21:10:49,-6.2167,155.6333,79.05,79,100,0.98
11,11,Cabedelo,BR,2021-03-07 21:10:50,-6.9811,-34.8339,80.60,89,20,6.91
18,18,Avarua,CK,2021-03-07 21:11:02,-21.2078,-159.7750,82.40,83,20,4.61
20,20,Puerto Ayora,EC,2021-03-07 21:11:05,-0.7393,-90.3518,86.00,70,20,11.50
31,31,Coxim,BR,2021-03-07 21:08:21,-18.5067,-54.7600,81.09,75,62,3.02
32,32,Souillac,MU,2021-03-07 21:11:20,-20.5167,57.5167,77.00,88,40,5.75

In [21]:
preferred_cities_df.count()

City_ID       168
City          168
Country       166
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1         Buchanan      LR     78.80   5.8808  -10.0467
2            Vaini      TO     82.40 -21.2000 -175.2000
7   Cabo San Lucas      MX     79.00  22.8909 -109.9124
8    Mar Del Plata      AR     78.80 -38.0023  -57.5575
10           Kieta      PG     79.05  -6.2167  155.6333
11        Cabedelo      BR     80.60  -6.9811  -34.8339
18          Avarua      CK     82.40 -21.2078 -159.7750
20    Puerto Ayora      EC     86.00  -0.7393  -90.3518
31           Coxim      BR     81.09 -18.5067  -54.7600
32        Souillac      MU     77.00 -20.5167   57.5167

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
import time

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        time.sleep(0.5)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Buchanan,LR,78.80,5.8808,-10.0467,Kamaneahn Hotel Inc
2,Vaini,TO,82.40,-21.2000,-175.2000,Keleti Beach Resort
7,Cabo San Lucas,MX,79.00,22.8909,-109.9124,Hotel Tesoro Los Cabos
8,Mar Del Plata,AR,78.80,-38.0023,-57.5575,Gran Hotel Mar del Plata
10,Kieta,PG,79.05,-6.2167,155.6333,Uruna Bay Retreat
...,...,...,...,...,...,...
537,Itupiranga,BR,80.60,-5.1347,-49.3267,Hotel Panorama
538,Qandala,SO,76.98,11.4720,49.8728,
542,Itacoatiara,BR,85.50,-3.1431,-58.4442,BBB Rooms Centro Itacoatiara AM
548,Araouane,ML,80.06,18.9048,-3.5265,
550,Puerto Escondido,MX,82.40,15.8500,-97.0667,Aldea del Bazar Hotel and Spa

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))